*{
    font-family: Cambria;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
h1{
    font-family: Arial;
    color: saddlebrown;
}
h2{
    font-family: Arial;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}
#menuPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: cornsilk;
    text-align: center;
}
#menuPrincipal li:hover{
    background-color: palegoldenrod;
}