*{
    font-family: Cambria;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
h1{
    font-family: Arial;
    color: saddlebrown;
}
h2{
    font-family: Arial;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}
#menuPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: cornsilk;
    text-align: center;
}
#menuPrincipal li:hover{
    background-color: palegoldenrod;
}

#testimonio{
  display: flex;
  background-color: #e5d397;
  justify-content: center;
 
}
#testimonio  img{
  width: 50%;
}
#cliente{
  display: flex;
  background-color: #ffffff;
  justify-content: center;
 
}