<!-- <app-table-component></app-table-component> -->
<h2 class="text-center"> Deja tu informacion y te contactaremos</h2>
<div class="container">
    <form class=" mx-5  my-5">
        <div class="form-row">
          <div class="col-md-5 mb-3">
            <label for="">Nombre</label>
            <input type="text" class="form-control" id="validationTooltip01" placeholder="Nombre" value="" required>
          </div>
          <div class="col-md-5 mb-3">
            <label for="">Apellido</label>
            <input type="text" class="form-control" id="" placeholder="Apellido" value="" required>
          </div>

          <div class="col-md-2 mb-3">
            <label for="validationTooltipUsername">Edad</label>
              <input type="text" class="form-control" id="" placeholder="Edad" aria-describedby="" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="">Correo Electronico</label>
            <input type="text" class="form-control" id="" placeholder="ejemplo@gmail.com" required>

          </div>
          <div class="col-md-3 mb-3">
            <label for="">Ciudad de residencia</label>
            <select class="custom-select">
                <option selected value="0">Ciudades</option>
                <option value="1"  *ngFor="let item of listapaises" >{{item.name}}</option>
              </select>          
            </div>
          <div class="col-md-3 mb-3">
            <label for="">Zip</label>
            <input  class="form-control" type="date" id="start" name="trip-start" value="2018-07-22" min="1920-01-01" max="2018-12-31">
            <!-- <input type="text" class="form-control" id="" placeholder="Zip" required> -->
          </div>

          <div class=" col-12 form-outline mb-4">
            <label class="form-label" for="">Sugerencia</label>
            <textarea class="form-control" id="" rows="4"></textarea>
          </div>
        
        
        </div>
        <button class="btn btn-primary" type="submit">Enviar</button>
      </form>
</div>