<nav class="sb-sidenav accordion bg-light sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading text-body">Opciones</div>
             <!-- CAMBIAR RUTA-->
            <a class="nav-link text-body" routerLink="Dashboard">
                Dashboard
            </a>
            <a class="nav-link text-body" routerLink="Estadisticas">
                Estadisticas
            </a>   
            <a class="nav-link text-body" routerLink="Testimonios">
                Testimonios
            </a>
            <a class="nav-link text-body" routerLink="Mis Pedidos">
                Mis pedidos
            </a>
      
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Usuario:</div>
        Cliente
    </div>
</nav>
