<section>
    <div class="container-fluid" id="grad1">
        <div class="row justify-content-center mt-0">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2><strong>Realiza tu compra aquí</strong></h2>
                    <p></p>
                    <div class="row">
                        <div class="col-md-12 mx-0">
                            <form id="msform">
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <li class={{class[0]}} id="account"><strong>Regístrate</strong></li>
                                    <li  class={{class[1]}} id="personal"><strong>Elige y pide</strong></li>
                                    <li  class={{class[2]}} id="payment"><strong> Forma de pago</strong></li>
                                    <li class={{class[3]}} id="confirm"><strong>Finalizado</strong></li>
                                </ul> <!-- fieldsets -->
                                <fieldset>
                                    <div class="form-card">
                                        <h2 class="fs-title">{{titulo[i]}}</h2>
                                        <p>{{texto [ i ] }}</p>
                                    </div>
                                    <input  type="button"  (click)="siguiente()" name="Siguiente" class="next action-button" value="Siguiente" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
