{{#each errors}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}
<section class="vh-100 bg-image" style="background-color: #EA899A;">
    <h1 class="text-center py-3"> LittleCake</h1>
    <div class="mask d-flex align-items-center  gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Creando cuenta</h2>    
                <form method="POST" action="/newregistro">
                    <div class="row">
                        <div class="col-md-6 mb-4 pb-2">
    
                          <div class="form-outline">
                            <input type="text" name="nombre" placeholder="nombre" class="form-control form-control-lg" />
                            <label class="form-label" for="">Nombre</label>
                          </div>
    
                        </div>
                        <div class="col-md-6 mb-4 pb-2">
    
                          <div class="form-outline">
                            <input type="text" name="apellido" placeholder="apellido" class="form-control form-control-lg" />
                            <label class="form-label" for="">Apellido</label>
                          </div>
    
                        </div>
                      </div>
                  <div class="form-outline mb-4">
                    <input type="email" name="email" placeholder="correo" class="form-control form-control-lg" />
                    <label class="form-label" for="">Email</label>
                  </div>      
                  <div class="form-outline mb-4">
                    <input type="password" name="password" placeholder="contrase単a" class="form-control form-control-lg" />
                    <label class="form-label" for="">Contrase単a</label>
                  </div>     
                  <div class="form-outline mb-4">
                    <input type="password" name="confPassword" placeholder="confirmar contrase単a" class="form-control form-control-lg" />
                    <label class="form-label" for="">Repite la contrase単a</label>
                  </div>     
                  <div class="form-check mb-5">
                    <input class="" type="checkbox" name="check" placeholder="check"/>
                    <label class="form-check-label" for="">
                      I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                    </label>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                  </div>    
                  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" class="fw-bold text-body"><u>Login here</u></a></p>
                </form> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>