<nav class="sb-sidenav accordion bg-light sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading text-body">Opciones</div>
            <a class="nav-link text-body" routerLink="/a/PanelDeControl">
                Panel de Control
            </a>
            <a class="nav-link text-body" routerLink="/a/Graficos">
                Gráficos
            </a>   
            <a class="nav-link text-body" routerLink="/a/Graficos">
                Reportes
            </a>
            <a class="nav-link text-body" routerLink="/a/Graficos">
                Pedidos 
            </a>
            <a class="nav-link text-body" routerLink="/a/Graficos">
                Usuarios
            </a>
               
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Usuario:</div>
        Administrador
    </div>
</nav>