<!-- <script src="https://d3js.org/d3.v7.min.js"></script>-->
<!-- <nav class="sb-topnav navbar  navbar-expand navbar-dark bg-secondary">
    <a class="navbar-brand text-white ps-3" routerLink ="/a/Inicio">Vista Administrador</a>
    <button class="btn btn-link btn-sm order-1 text-white order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

        <div class="input-group btn-sm order-2">   
            <button class="btn btn-primary" id="btnNavbarSearch" type="button" routerLink ="">Cerrar Sesión</button>
        </div>
</nav> -->
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main id="separador">
            <h1 class="mt-4">Agregar un producto</h1>
            <div class="col-md-4 mx-auto">
                <div class="card text-center">
                  <div class="card-header">
                    <h3>Nuevo producto</h3>
                  </div>
                  <div class="card-body">
                    <form [formGroup]="form" (submit)="enviarProducto()" >
                      <div class="form-group">
                        <input type="text" name="titulo" formControlName="titulo" class="form-control" placeholder="Titulo"/>
                      </div>
                      <div class="form-group">
                        <textarea name="descripcion" class="form-control" formControlName="descripcion" placeholder="Descripcion"></textarea>
                      </div>
                      <div class="form-group">
                        <input type="number" name="cantidad" class="form-control" formControlName="cantidad" placeholder="Cantidad"/>
                      </div>
                      <div class="form-group">
                        <input type="number" name="precio" class="form-control" formControlName="precio" placeholder="Precio"/>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary btn-block">Guardar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
        </main>
    </div>
</div>