<section>
    <!-- <h2 class="text-center  my-3 py-3" > Deja tu Testimonio aqui !  </h2> -->

  <form [formGroup]="form" (submit)="f()">
    <!-- Name input -->
    <div class="form-group mb-4">
      <input formControlName="titulo"  value={{titulo}} name="titulo" type="text" id="titulo" class="form-control" />
      <label   class="form-label" for="">Titulo</label>
    </div>
  
    <!-- Message input -->
    <div class="form-group mb-4">
      <textarea type="text"formControlName="descripcion"  value={{descripcion}} name="descripcion" class="form-control" id="descripcion" rows="4"></textarea>
      <label class="form-label" for=""> Testimonio</label>
    </div>
  
    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
      <label><input type="checkbox"> Desea recibir nuestras ofertas al correo ? </label>
    </div>

    <!-- Submit button -->
    <div class="text-center">
       <button class="btn btn-primary  mb-4" > Enviar </button>
       <a  class="btn btn-danger  mb-4 " routerLink="../../"> Cancelar </a>
    </div>
  </form>
</section>