<footer class=" text-white py-4 bg-pink text-center text-dark ">
  <div class="container ">
    <div class="row border-bottom">
      <ul class="col-3 ">
        <a href="#" class=" text-center text-dark text-uppercase d-flex  ">
          <i class="fas fa-bars "></i>
        </a>
      </ul>
      <ul class="col-3 list-unstyled  ">
        <li class="font-weight-bold text-uppercase ">  Telefonos </li>
        <li><a href="#" class="text-reset"><small>Telefono 1 </small></a></li>
        <li><a href="#" class="text-reset"><small>Telefono 2</small></a></li>
        <li><a href="#" class="text-reset"><small>Telefono 3</small></a></li>
      </ul>
      <ul class="col-3 list-unstyled   ">
        <li class="font-weight-bold text-uppercase ">Redes Sociales</li>
        <li><a href="https://www.facebook.com/" class="text-dark"><i class="fab fa-facebook-square text-center"></i></a></li>
        <li><a href="https://www.instagram.com/" class="text-dark"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://web.whatsapp.com/" class="text-dark"><i class="fab fa-whatsapp"></i></a></li>
      </ul>
      <ul class="col-3 list-unstyled   ">
        <li class="font-weight-bold text-uppercase ">Direccion</li>
        <li><a href="https://goo.gl/maps/dvMcPjVw2xQKgsPZ8" class="text-dark"><i class="fas fa-map-marker-alt"></i></a></li>
      </ul>
    </div>

    <div class="text-center  text-dark">
      <h3 class="">Equipo de desarrollo</h3>
      <nav class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <ul class="list-unstyled">
            <li class="font-weight-bold text-uppercase ">Nathalia Mawyin</li>
            <!-- <li> 09xxxxxxxx</li> -->
            <li> mnmawyin@espol.edu.ec</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <ul class="list-unstyled">
            <li class="font-weight-bold text-uppercase ">Edwin Eras</li>
            <!-- <li> 09xxxxxxxx</li> -->
            <li> edaneras@espol.edu.ec</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <ul class="list-unstyled">
            <li class="font-weight-bold text-uppercase">DARIEN ALTAMIRANO</li>
            <!-- <li> 09xxxxxxxx</li> -->
            <li> dajoalta@espol.edu.ec</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <ul class="list-unstyled">
            <li class="font-weight-bold text-uppercase ">SANDY INTRIAGO</li>
            <!-- <li> 09xxxxxxxx</li> -->
            <li> saintria@espol.edu.ec</li>
          </ul>
        </div>
      </nav>
    </div> 
  </div>
</footer>