<footer class="bg-dark text-white py-4">
    <!-- Gracias, vuelva pronto -->
    <div class="container ">
      <nav class="row">
        <!-- logo -->
        <ul class="col-3">
          <a href="#" class=" text-reset text-uppercase d-flex align-items-center">
            <i class="fas fa-bars"></i>
          </a>
        </ul>
        <!-- Contactos -->
        <ul class="col-3 list-unstyled">
          <li class="font-weight-bold text-uppercase">Numeros telefonicos</li>
          <li><a href="#" class="text-reset">Telefono 1</a></li>
          <li><a href="#" class="text-reset">Telefono 2</a></li>
          <li><a href="#" class="text-reset">Telefono 3</a></li>
        </ul>
        <!-- Redes sociales -->
        <ul class="col-3 list-unstyled">
          <li class="font-weight-bold text-uppercase">Redes Sociales</li>
          <li><a href="https://www.facebook.com/" class=""><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://www.instagram.com/" class=""><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://web.whatsapp.com/" class=""><i class="fab fa-whatsapp"></i></a></li>
        </ul>
        <!-- Direccion  -->
        <ul class="col-3 list-unstyled ">
          <li class="font-weight-bold text-uppercase">Direccion</li>
          <li><a href="https://goo.gl/maps/dvMcPjVw2xQKgsPZ8" class=""><i class="fas fa-map-marker-alt"></i></a></li>
        </ul>
      </nav>
    </div>
    <!-- <div>Correo, #, redes sociales</div>
      <div>Texto de copyright</div> -->
</footer>
    
