  <div class="d-flex flex-row-reverse">
    <a class="btn btn-success" routerLink="../Agregar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
      Agregar Testimonio
  </a>  

</div>
<div [ngClass]="{'ocular': flag, 'vacio': !flag}" >
  <div class="my-1 d-flex justify-content-center">
      <span class="  my-4">Testimonio eliminado correctamente</span>
    </div>
</div>
    <table class="table table-striped" >
  <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion </th>
      <th scope="col">Fecha de Creacion</th>
      <th scope="col" class="justify-content-end">Opciones</th>
    </tr>
  </thead>
  <tbody>
      <tr  *ngFor="let item of mandar">
        <td>{{item.titulo}}</td>
        <td>{{item.descripcion}}</td>
        <td>{{item.fechacreacion}}</td> 
        <td class="justify-content-around">
          <a class="btn btn-primary" routerLink="../Editar/{{item.idtestimonio}}">Actualizar</a>
          <button class="btn btn-danger"  (click)="eliminarTestimonio(item.idtestimonio)">Eliminar</button>
        </td> 
      </tr>
  </tbody>
</table>
<!-- </div> -->