  <div class="d-flex flex-row-reverse">
    <a class="btn btn-success" routerLink="../Agregar"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
      Agregar Testimonio
  </a>  

</div>
 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col" class="justify-content-end">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td class="justify-content-around">
        <button class="btn btn-primary">Actualizar</button>
        <button class="btn btn-danger">Eliminar</button>
      </td> 
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>
        <button class="btn btn-primary">Actualizar</button>
        <button class="btn btn-danger">Eliminar</button>
      </td> 
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>
        <button class="btn btn-primary">Actualizar</button>
        <button class="btn btn-danger">Eliminar</button>
      </td> 
    </tr>
  </tbody>
</table>
<!-- </div> -->