<!-- <script src="https://d3js.org/d3.v7.min.js"></script>-->
<nav class="sb-topnav navbar  navbar-expand navbar-dark bg-secondary">
    <!-- CAMBIAR RUTA-->
    <a class="navbar-brand text-white ps-3" routerLink ="/a/Inicio">Vista Administrador</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 text-white order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

        <!-- Cerrar sesión-->
        <div class="input-group btn-sm order-2">   
            <button class="btn btn-primary" id="btnNavbarSearch" type="button" routerLink ="">Cerrar Sesión</button>
        </div>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion bg-light sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading text-body">Opciones</div>
                     <!-- CAMBIAR RUTA-->
                    <a class="nav-link text-body" routerLink="/a/Inicio">
                        Panel de Control
                    </a>
                    <a class="nav-link text-body" routerLink="/a/Productos">
                        Productos
                    </a>
                    <a class="nav-link text-body" routerLink="/a/Graficos">
                        Gráficos
                    </a>   
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Usuario:</div>
                Administrador
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div id="separador">
            <h1 class="mt-4">Gráficos</h1>
            <!-- CAMBIAR RUTA-->
 <div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Estadisticas de Usuario
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Estadísticas de compra
            </div>
            <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        Ventas mensuales - Año 2021
    </div>
    <div class="card-body" height="30px"><canvas id="myAreaChart" width="100%" height="30px"></canvas>
        <apx-chart [series]="prueba.series" [chart]="prueba.chart"
                    [xaxis]="prueba.xaxis" [title]="prueba.title"></apx-chart>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
</div>
        </main>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Little Cake 2021</div>
                </div>
            </div>
        </footer>
    </div>
</div>