<div class="container">
  <header>
    <h1 class="text-center my-3 py-3">¿ Que encontraras aqui ?</h1>
    <div class="container">
      <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero inventore
        magni sint facere ea placeat voluptatum ut, consectetur error, aperiam,
        suscipit consequatur et autem hic maiores expedita tempore nihil
        officiis!
      </p>
    </div>
  </header>



  <app-steppe></app-steppe>





  <section>
    <h2 class="text-center my-3 py-3">Productos Populares</h2>
    <div>
      <div class="row">
        <!-- <ng-template ngFor let-item [ngForOf]="mandar"  let-i="index"> -->
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-3"  *ngFor="let item of mandar">
            <app-card [producto]="item.producto" [descripcion]="item.discripcion"  [imagen]="item.image" ></app-card>
          </div>
        <!-- </ng-template> -->
      </div>
    </div>
  </section>
  
  <!-- CATEGORIAS POPULARES -->
  <section>
    <h2 class="text-center my-3 py-3">Categorias Populares</h2>
    <div>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-3"  *ngFor="let item of mandar">
          <app-card [producto]="item.producto" [descripcion]="item.discripcion"  [imagen]="item.image" ></app-card>
        </div>
      </div>
    </div>
  </section>



  <!-- TESTIMONIOS -->
    <section>
        <h2 class="text-center  my-3 py-3 ">Testimonios</h2>
        <div class="row justify-content-between">
            <div class=" col-md-4 col-sm-6 col-xs-12 mb-3" *ngFor="let item of mandar" >
              <app-card-testimonio></app-card-testimonio>
            </div>
        </div>
      </section>
      <app-geographiclocation></app-geographiclocation>
      <app-form-asker></app-form-asker>
</div>


