
<h1 class=" mt-4 text-center">Contactos directos</h1>

<div class=" py-4 px-5 my-5  container">
    
<table class="table table-sm  text-center">
    <thead class="table-danger">
      <tr class="">
        <th scope="col-4">Contacto</th>
        <th scope="col-4">Numero</th>
      </tr>
    </thead>
    <tbody class="table-info">
      <tr>
        <td>Darien Altamirano</td>
        <td>3243432434</td>
      </tr>
      <tr>
        <td>Alguien maaaa</td>
        <td>2343243342</td>
      </tr>
      <tr>
        <td>Comidaaa chaulafan</td>
        <td>099999999</td>
      </tr>
    </tbody>
  </table>
</div>