<!-- <script src="https://d3js.org/d3.v7.min.js"></script>-->
<nav class="sb-topnav navbar  navbar-expand navbar-dark bg-secondary ">
    <!-- CAMBIAR RUTA-->
    <a class="navbar-brand text-white ps-3" routerLink ="/a/Inicio">Vista Administrador</a>
    <!--Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 text-white order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

        <!-- Cerrar sesión-->
        <div class="input-group btn-sm order-2">   
            <button class="btn btn-primary" id="btnNavbarSearch" type="button" routerLink ="">Cerrar Sesión</button>
        </div>
</nav>